[mysqld]
character_set_server=utf8
collation_server=utf8_general_ci

max_allowed_packet              = 128M

innodb_buffer_pool_size         = 2G
innodb_log_file_size            = 512M
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method             = O_DIRECT

#query_cache_size                = 2MB
#query_cache_limit               = 64MB

#table_open_cache                = 2048
#tmp_table_size                  = 128MB
#max_heap_table_size             = 128MB

#thread_stack                    = 256K
#thread_cache_size               = 256